table(border="0", cellpadding="0", cellspacing="0", width="100%", style="background: linear-gradient(to right, #42bdee, #5673b7); padding: 20px 20px 16px 20px;")
  tr
    td(align="center")
      a(href="https://www.facebook.com/tutorinsacvl", target="_blank")
        img(src="https://github.com/Campus-INSA-CVL/tutorinsa-server/blob/master/public/assets/img/facebook.png?raw=true", alt="logo Facebook", srcset="", height="36px")
    td(align="center")
      a(href="https://github.com/Campus-INSA-CVL/tutorinsa-server", target="_blank")
        img(src="https://github.com/Campus-INSA-CVL/tutorinsa-server/blob/master/public/assets/img/github.png?raw=true", alt="logo de Github", srcset="", height="36px")
